/*home.html*/
body {
  background-color: #e8e8e4;
}

div.streetbackground {
  background-image: url("pics/LMbackO.jpg");
  display: block;
}

div#backpic {
    background-image: url(pics/LandMLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -20px;
    width: 100%;
    height: 415px;
}

/* nav font */
@font-face {
    font-family: navfont;
    src: url(Lemondrop.ttf);
}

.navfont {
  font-family: navfont;
  color: #e6e668;
}

/* lombardy brand */
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #e6e668;
}

/* register/login hover color */
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #e6e668;
  background-color: #222222;
}

/* active color */
.navbar-inverse .navbar-nav>.active>a {
    color: #9d9d9d;
    background-color: #222222;
}

.customDiv {
    margin: 3px;
    margin-top: 20px;
    min-height: 300px;
    background-color: #bdbdb7;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

/* Left Column */
#bb {
    height: 185px;
    width: auto;
    max-width: 205px;
}

#br {
    height: 195px;
    width: auto;
    max-width: 200px;
}

.btn-default {
    color: #333;
    background-color: #bdbdb7;
    border-color: #080808;
}

.btn-default:hover {
    color: black;
    background-color: #e6e668;
    border-color: black;
}


/*  Middle Colunm */
#oldmenu {
    height: 355px;
    width: auto;
}

#store {
    height: 385px;
    width: 555px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

p {
  text-align: center;
  margin: 10px;
}

h4 {
  text-align: center;
  margin: 10px;
}

/* Right Column */
.gramps {
    height: 175px;
    width: auto;
    max-width: 225px;
}

.family {
    height: 200px;
    width: 205px;
}

/* Twitter */
#tweet {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: large;
    color: black;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* sign-up page */
@font-face {
  font-family: userHeaderfont;
  src: url(Lemondrop.ttf);
}

.userHeader {
  font-family: userHeaderfont;
  color: #9d9d9d;
}

#lowerHeader {
    font-family: userHeaderfont;
    margin: -10px 20px 10px;
    text-align: right;
    color: #463e3e;
}

.btn-primary {
    color: #fff;
    background-color: #463e3e;
    border-color: black;
}

.btn-primary:hover {
    color: black;
    background-color: #e6e61c;
    border-color: black;
}

/* login page */

.form-control:focus {
    border-color: #000000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 223, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 229, 102, 0.6);
}

/* order page */
.orderOutput {
    text-align: center;
    margin-top: 100px;
    margin-left: 60px;
}
