<body>
  <div class="streetbackground">
    <div class="container" id="backpic"></div>
  </div>

    <div class="container">
      <!-- First Row -->
      <div class="row">
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/cranberrygose.png" id="bb">
              <h4>Beer of the Month</h4>
                <p>Grab yourself a handleful of summer!</p>
                <p><a class="btn btn-default" href="http://longtrail.com/age-verification?destination=node/2" target="_blank" role="button">Long Trail Brewery</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div><br>
            <img src="libraries/css/pics/store.jpg" id="store">
          </div>
            <p>
              Lombardy Market was opened on September 20, 1985 by one Ralph Eubank Watkinson from the Eastern Shore of Virgina.
              RE sees more humans walk in and out of the store in a year that most meet in a life time. The deli hasn't changed,
              high qualtiy products and a touch of love goes a long way. The LM keeps a good beer and wine selection, coffee, and
              <span style="color:yellow; background-color: #bdbdb7; font-weight:normal;">VCU</span> students are always happy.
              So drop bye for a sandwich, or to talk it out if you're close bye. By the way this is <span style="color:yellow;
              background-color: #bdbdb7; font-weight:normal;">VCU</span> country...so, if you're a U of R alumni, don't bother!
            </p>
          <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
       </div>
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img class="gramps" src="libraries/css/pics/gramps.jpg">
              <h4>The Owner</h4><p>aka. RE, The Mayor, Eubank, Gramps
          </div>
          <!--p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
        </div>
      </div>
      <!-- Second Row -->
      <div class="row">
        <div class="col-md-3">
          <div class="middleRow"><br>
            <img src="libraries/css/pics/cava.jpg" id="br">
              <h4>Restaurant of the Month</h4>
                <p>If your interested in something fresh and healthy. Cava has a build you're
                   own platform with multipe Mediterranean combinations.</p>
                   <p><a class="btn btn-default" href="http://cava.com/" target="_blank" role="button">Kava</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="middleRow"><br>
            <img src="libraries/css/pics/oldmenu.jpg" id="oldmenu">
          </div>
          <p>There are multiple different combinations from the deli, always fresh. Goin' heated by the classic
             steamer is always an option. Coffee from Blanchards. Chicken salad, deviled eggs, and brownies.
             </p>
       </div>
        <div class="col-md-3">
          <div class="middleRow"><br>
            <img class="family" src="libraries/css/pics/family.jpg">
              <h4>The Watkinson Children</h4>
              <p>Four kids.<br>
                 Six granddaughters.<br>
                 One grandson (finally)!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="bottomRow"><br>
            <img src="libraries/css/pics/ralph.jpg" class="dog">
              <h4>Pet of the Month.</h4>
                <p>Ralph.  What can you say?</p>
          </div>
        </div>
      <div class="col-md-6">
        <div class="bottomRow"><br>
          <img src="libraries/css/pics/vcuLogo.png" class="vcu">
          <h4>Season tickets for over 30 years says it all.</h4>
          <p><a class="btn btn-default schedule" href="http://www.espn.com/mens-college-basketball/team/schedule/_/id/2670/vcu-rams" target="_blank" role="button">Schedule</a></p>
          <!-- put in ui-router extension -->
          <a href="https://twitter.com/vcu_hoops?lang=en" target="_blank" ng-click="redirectVCUhoops()"><i class="fa fa-twitter" id="tweet"></i></a>
        </div>
      </div>
    </div>
  </div>



      <hr>

      <footer>
        <p>&copy; 2017 CJE, Inc.</p>
      </footer>
    </div> <!-- /container -->
  </body>
