<body>
  <div class="streetbackground"> <!--ng-controller="HomeController"-->
    <div class="container" id="backpic"></div>
  </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/vcuLogo.png">
            <h4>Season tickets for over 30 years says it all.</h4>
            <!-- put in ui-router extension -->
            <a href="https://twitter.com/vcu_hoops?lang=en" ng-click="redirectVCUhoops()"><i class="fa fa-twitter" id="tweet"></i></a>

          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/deli.jpeg">
          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img class="family" src="libraries/css/pics/family.jpg">
          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>



      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
  </body>
