<body>
  <div class="streetbackground">
    <div class="container" id="backpic"></div>
  </div>

    <div class="container">
      <!-- First Row -->
      <div class="row">
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/cranberrygose.png" id="bb">
              <h4>Beer of the Month</h4>
                <p>Grab yourself a handleful of summer!</p>
          </div>
          <!--p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p-->
          <p><a class="btn btn-default" href="http://longtrail.com/age-verification?destination=node/2" role="button">Long Trail Brewery</a></p>
        </div>
        <div class="col-md-6">
          <div><br>
            <img src="libraries/css/pics/store.jpg" id="store">
          </div>
            <p>
              Lombardy Market was opened on September 20, 1985 by one Ralph Eubank Watkinson from the Eastern Shore of Virgina.
              RE sees more humans walk in and out of the store in a year that most meet in a life time. The deli hasn't changed,
              high qualtiy products and a touch of love goes a long way. The LM keeps a good beer and wine selection, coffee, and
              <span style="color:yellow; background-color: #bdbdb7; font-weight:normal;">VCU</span> students are always happy.
              So drop bye for a sandwich, or to talk it out if you're close bye. By the way this is <span style="color:yellow;
              background-color: #bdbdb7; font-weight:normal;">VCU</span> country...so, if you're a U of R alumni, don't bother!
            </p>
          <!--p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
       </div>
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img class="gramps" src="libraries/css/pics/gramps.jpg">
              <h4>The Owner</h4><p>aka. RE, The Mayor, Eubank, Gramps
          </div>
          <!--p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p-->
        </div>
      </div>
      <!-- Second Row -->
      <div class="row">
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/cava.jpg" id="br">
              <h4>Restaurant of the Month</h4>
          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/oldmenu.jpg" id="oldmenu">
          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img class="family" src="libraries/css/pics/family.jpg">
          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/vcuLogo.png">
            <h4>Season tickets for over 30 years says it all.</h4>
            <!-- put in ui-router extension -->
            <a href="https://twitter.com/vcu_hoops?lang=en" ng-click="redirectVCUhoops()"><i class="fa fa-twitter" id="tweet"></i></a>

          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/deli.jpeg">
          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <div class="customDiv"><br>
            <img src="libraries/css/pics/vcuLogo.png">
            <h4>Season tickets for over 30 years says it all.</h4>
            <!-- put in ui-router extension -->
            <a href="https://twitter.com/vcu_hoops?lang=en" ng-click="redirectVCUhoops()"><i class="fa fa-twitter" id="tweet"></i></a>
          </div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>



      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
  </body>
