<div class="panel panel-default" ng-init="getOrders()">
 <div ng-init="total = 0">
   <p>{{total}}</p>
  <div ng-repeat="order in orders | limitTo : -3">
    <!--w3-test-directive></w3-test-directive-->
    <h3 ng-init="$parent.total = $parent.total + (5 * order.quantity)"></h3>
    <div class="panel-heading">
      <h3 class="panel-title">To Be Ordered</h3>
    </div>
    <div class="panel-body">
      <div class="row">
      <!--div ng-repeat="order in orders"-->
    		<div class="col-sm-4">
    			<!--div class="col-md-6"-->
            <p>{{order.length}}</p>
    				<p>{{order.bread}}</p>
    				<p>{{order.deli}}</p>
            <p>{{order.cheese}}</p>
            <p>{{order.drink}}</p>
            <p>{{order.quantity}}</p>
            <p>{{order._id}}</p>
            <a ui-sref="edit({id: order._id})">Edit</a> | <a ui-sref="delete" ng-click="removeOrder(order._id)">Delete</a>
    		</div>
    	</div>
    </div>
    </div>
  </div>
</div>
