
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="userHeader">Lombardy Market</h1>
      <p id="lowerHeader">Your Order</p>
    </div>
</div>
<div class="row yourOrder">
  <div ng-init="getOrders()" ng-init="total = 0">
    <div ng-repeat="order in orders | limitTo : -3" ng-init="$parent.total = $parent.total + (5 * order.quantity)">
        <div class="col-md-4">
          <div class="toBeOrdered"><br>
			      <p><span style="font-weight:bold">Bread:</span> {{order.bread}}</p>
	          <p><span style="font-weight:bold">Deli:</span> {{order.deli}}</p>
            <p><span style="font-weight:bold">Cheese:</span> {{order.cheese}}</p>
            <p><span style="font-weight:bold">Drink:</span> {{order.drink}}</p>
            <p><span style="font-weight:bold">Quantity:</span> {{order.quantity}}</p>
            <p><a class="editDelete" ui-sref="edit({id: order._id})">Edit</a> | <a class="editDelete" ui-sref="delete" ng-click="removeOrder(order._id)">Delete</a></p>
          </div>
        </div>
    </div>
      <p><span style="font-weight:bold">Price:</span> {{total}}</p>
  </div>
</div>
