<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Name" ng-model="user.name">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="user.password">
  </label>
  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.throw}}</div>
   <!--div uib-alert template-url="alert.html" style="background-color:#fa39c3;color:white">A happy alert!</div-->
   <button type="button" class='btn btn-default' ng-click="login()">Login</button>
  <button class="button" ui-sref="register">Register</button>
  <button class="button" ui-sref="main">Main</button>
  <br>
</div>
